body {
  margin: 0;
  padding: 0;
}

.pagebanner {
  background: #fff95b;
  height: 20vh;

  h1 {
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
  }

  ul {
    list-style: none;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    li {
      display: flex;
      align-items: center;



      img {
        width: 15px;
        margin-left: 5px;
        margin-top: -4px;
      }

      p {
        margin: 0;
        padding: 0;
        font-weight: 500;
      }
    }
  }
}


#app {
  padding: 2em 0;
}